body {
	width: 500px;
	height: 200px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

	background-image: url('../img/background.jpg');
	background-size: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#first_page{
	width: 100%;
	height: 200px;
	position: absolute;
}

#person{
	position: relative;
	z-index: 2;
	left: -65px;
	top: 7px;
}

#clock{
	position: relative;
	top: -38px;
	left: -34px;
	z-index: 1;
}

#content {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

#leave_2{
	padding-left: 4px;
}

.entry{
	position: relative;
	top: 40px;
}

.board{
	background-image: url('../img/board.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 48px;
	display: inline-block;
	width: 68px;
	height: 51px;
	padding-left: 25px;
	-webkit-transition: all 2000ms ease;
	-webkit-filter: grayscale(100%) drop-shadow(0px 4px 8px black);
}

.board input,
.plates span{
	border: none;
	outline: none;
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
	background: transparent;
	text-shadow: 1px 1px 1px #000;
}

span.board{
	padding-right: 25px;
}

.plates{
	background-image: url('../img/plates.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100px;
	height: 105px;
	position: absolute;
	top: 5px;
	right: 15px;
	-webkit-transition: all 2000ms ease;
	-webkit-filter: grayscale(100%) drop-shadow(0px 4px 8px black);
}

.plates span:first-child{
	padding-top: 30px;
	display: inline-block;
	padding-left: 17px;
	font-size: 13px;
}

.tolerance{
	display: inline-block;
	font-size: 13px !important;
	margin-top: 28px;
	margin-left: 7px
}

.background{
	position: fixed;
	width: 500px;
	height: 200px;
}

.mountains{
	background-image: url('../img/weather/mist/foggy_day.jpg');
	background-size: cover;
}

.weather{
	background-size: contain;
	-webkit-animation: fullbg 100s linear 0s infinite normal;
}

.dark-cloud-day{
	background-image: url('../img/weather/cloud/dark/dark_cloudy_day.jpg');
}

.grey-cloud-day{
	background-image: url('../img/weather/cloud/grey/grey_cloudy_day.jpg');
}

.white-cloud-day{
	background-image: url('../img/weather/cloud/white/white_cloudy_day.jpg');
}

.foggy-day{
	background-image: url('../img/weather/mist/fog_day.png');
}

.clear-day{
	background-image: url('../img/weather/clear_day.jpg');
}

#sun{
	position: relative;
	top: 180px;
}

.rope{
	background-image: url('../img/rope.png');
	background-position-y: 27px;
	position: fixed;
	height: 12px;
	width: 100%;
	top: 45px;
}

.cloud{
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	height: 175px;
	width: 395px;
	display: none;
}

.rain{
	background-image: url('../img/weather/rain/rain_day.png');
	position: fixed;
	height: 200px;
	width: 100%;
	top: 0px;
	-webkit-animation: raining 1000ms linear 0s infinite normal;
	display: none;
}

.raindrops{
	background-image: url('../img/weather/rain/raindrops.png');
	position: fixed;
	height: 100px;
	width: 100%;
	top: 130px;
	-webkit-animation: raindrops 120s linear 0s infinite normal;
	display: none;
}

.block-background{
	background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
	opacity:0.6;
	display:none;
}

.vacation{
	position: absolute;
    bottom: 10px;
    left: 15px;
}

.vacation-island{
	position: fixed;
    right: 0px;
    bottom: 0px;
}

.vacation-island.mouse-over{
	height: 195px;
}

.vacation-island img{
	transition: 100ms;
	width: 60px;
}

.vacation-island.mouse-over img{
	width: 130px;
}

.date-background{
	background-image: url('../img/placa2.png');
    background-size: contain;
    background-repeat: no-repeat;
	transition: 100ms;
	position: relative;
	width: 10px;
	height: 8px;
    top: 16px;
    left: 29px;
}

.vacation-island.mouse-over .date-background{
	width: 110px;
	height: 96px;
	top: 41px;
    left: 30px;
}

#start-vacation{
	background-color: transparent;
	border: none;
}

.vacation-island.mouse-over #start-vacation{
	display: block;
}

.vacation-island.mouse-out #start-vacation{
	display: none;
}

.plane{
	-webkit-filter: drop-shadow(0px 3px 5px white);
    width: 75px;
}