body {
	width: 500px;
	height: 200px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

	background-image: url('../img/background.jpg');
	background-size: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fs-full-width{
	width: 100%;
}

.fs-full-height{
	height: 100%;
}

.fs-text-default-color{
	text-shadow: 1px 1px 1px #000;
	color: white;
	font-weight: bold;
}

#first_page{
	width: 100%;
	height: 200px;
	position: absolute;
}

#person{
	position: relative;
	z-index: 2;
	left: -65px;
	top: 7px;
}

#clock{
	position: relative;
	top: -38px;
	left: -34px;
	z-index: 1;
}

#content {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

#leave_2{
	padding-left: 4px;
}

.entry{
	position: relative;
	top: 40px;
}

.board{
	background-image: url('../img/board.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 48px;
	display: inline-block;
	width: 68px;
	height: 51px;
	padding-left: 25px;
	-webkit-transition: all 2000ms ease;
	-webkit-filter: grayscale(100%) drop-shadow(0px 4px 8px black);
}

.board input,
.plates span,
#leave_2{
	border: none;
	outline: none;
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
	background: transparent;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
}

.board input {
	width: 47px;
}

span.board{
	padding-right: 25px;
}

.plates{
	background-image: url('../img/plates.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100px;
	height: 105px;
	position: absolute;
	top: 5px;
	right: 15px;
	-webkit-transition: all 2000ms ease;
	-webkit-filter: grayscale(100%) drop-shadow(0px 4px 8px black);
}

.plates span:first-child{
	padding-top: 30px;
	display: inline-block;
	padding-left: 17px;
	font-size: 13px;
}

.tolerance{
	display: inline-block;
	font-size: 13px !important;
	margin-top: 28px;
	margin-left: 7px
}

.background{
	position: fixed;
	width: 500px;
	height: 200px;
}

.mountains{
	background-image: url('../img/weather/mist/foggy_day.jpg');
	background-size: cover;
}

.weather{
	background-size: contain;
	-webkit-animation: fullbg 100s linear 0s infinite normal;
}

.dark-cloud-day{
	background-image: url('../img/weather/cloud/dark/dark_cloudy_day.jpg');
}

.grey-cloud-day{
	background-image: url('../img/weather/cloud/grey/grey_cloudy_day.jpg');
}

.white-cloud-day{
	background-image: url('../img/weather/cloud/white/white_cloudy_day.jpg');
}

.foggy-day{
	background-image: url('../img/weather/mist/fog_day.png');
}

.clear-day{
	background-image: url('../img/weather/clear_day.jpg');
}

#sun{
	position: relative;
	top: 180px;
}

.rope{
	background-image: url('../img/rope.png');
	background-position-y: 27px;
	position: fixed;
	height: 12px;
	width: 100%;
	top: 45px;
}

.cloud{
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	height: 175px;
	width: 395px;
	display: none;
}

.rain{
	background-image: url('../img/weather/rain/rain_day.png');
	position: fixed;
	height: 200px;
	width: 100%;
	top: 0px;
	-webkit-animation: raining 1000ms linear 0s infinite normal;
	display: none;
}

.raindrops{
	background-image: url('../img/weather/rain/raindrops.png');
	position: fixed;
	height: 100px;
	width: 100%;
	top: 130px;
	-webkit-animation: raindrops 120s linear 0s infinite normal;
	display: none;
}

.block-background{
	background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
	opacity:0.6;
	display:none;
}

.vacation{
	position: absolute;
    bottom: 10px;
    left: 15px;
}

.vacation-island{
	position: fixed;
    right: 0px;
    bottom: 0px;
}

.vacation-island.mouse-over{
	height: 195px;
}

.vacation-island img{
	transition: 50ms;
	width: 60px;
}

.island{
	-webkit-filter: drop-shadow(0px 3px 5px white);
}

.vacation-island.mouse-over img{
	width: 130px;
}

.date-background{
	-webkit-filter: drop-shadow(0px 3px 5px white);
	background-image: url('../img/placa2.png');
    background-size: contain;
    background-repeat: no-repeat;
	transition: 50ms;
	position: relative;
	width: 10px;
	height: 8px;
    top: 16px;
    left: 29px;
}

.vacation-island.mouse-over .date-background{
	width: 110px;
	height: 96px;
	top: 41px;
    left: 30px;
}

#start-vacation{
	background-color: transparent;
	border: none;
}

.vacation-island.mouse-over #start-vacation{
	display: block;
	-webkit-transform: rotate(-348deg);
	-webkit-filter: grayscale(100%) drop-shadow(0px 4px 8px black);
    position: relative;
    top: 16px;
    left: 8px;
    font-size: 12px;
    font-weight: bold;
    color: white;
	outline: none;
}

.vacation-island.mouse-out #start-vacation{
	display: none;
}

.plane{
    width: 75px;
	position: fixed;
    bottom: 6px;
    left: 3px;
}

.vacation-text{
	color: white;
	-webkit-filter: grayscale(100%) drop-shadow(0px 4px 8px black);
	position: relative;
    bottom: -24px;
    left: 26px;
    font-weight: bold;
    -webkit-transform: rotate(-352deg);
    width: 20px;
}

.vacation-island.mouse-out .vacation-text{
	left: 1px;
    bottom: -4px;
    font-size: 1px;
}

.vacation-info{
	position: fixed;
    bottom: 0px;
	left: 0;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    color: white;
    font-weight: bold;
}

.vacation-doll{
	position: fixed;
    width: 69px;
    top: 104px;
    right: 23px;
}

.drone{
    width: 137px;
    position: fixed;
    left: 130px;
    transition: 1000ms;
    top: 90px;
}

.settings-box{
	position: fixed;
    top: 0;
}

.settings-box.open{
	position: fixed;
    top: 0;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
    height: 200px;
    transition: linear 200ms;
}

#settings{
	width: 40px;
	margin-top: 20px;
	margin-left: -40px;
	cursor: pointer;
}

.settings-box.open #settings{
	-webkit-filter: drop-shadow(rgb(255, 255, 255) 0px 1px 5px);
}

.settings-options{
	display: none;
	text-align: center;
    margin-top: 50px;
    position: absolute;
    width: 100%;
}

.settings-options  label{
	color: gray;
    font-weight: bold;
    font-size: 15px;
    background: transparent;
    text-shadow: 1px 1px 1px #FFF;
    display: block;
}

.settings-box.open .settings-options{
	display: block;
}

.settings-background{
	position: fixed;
	top: -4px;
	width: 263px;
	left: 122px;
	z-index: -1;
}

#expedient-time{
	text-align: center;
}

#waiting_title{
	font-size: 24px;
}

.vacation-waiting-info{
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	margin-top: 14px;
	text-align: center;
}

.vacation-waiting-info .fs-text-default-color{
	display: block;
	line-height: 32px;
	font-size: 18px;
}